<div class="card card-user">
  <div class="card-body">
    <div class="text-center">
      <div class="user-avatar">
        <nb-user
          name="{{name}}"
          size="giant"
          title="Engineer"
          onlyPicture
        ></nb-user>
      </div>
      <h5 class="title">{{name}}</h5>
      <p class="description">
        {{title}}
      </p>
    </div>
    <p class="description text-center">
      {{expertise}}
    </p>
  </div>
  <div class="card-footer">
    <hr>
    <div class="button-container">
      <div class="row">
        <div class="col-sm-6 text-center">
          <h5>10
            <br>
            <small>Interviews</small>
          </h5>
        </div>
        <div class="col-sm-6 text-center">
          <h5>5
            <br>
            <small>Remarks</small>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
