<div class="card card-user">
  <div class="card-header">
    <h5 class="card-title">Schedule an Interview</h5>
  </div>
  <div class="card-body">
    <form>
      <fieldset>
        <legend><h5>Select Job</h5></legend>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="JobType">Job</label>
            <select id="JobType" name="JobType" class="form-control">
              <option value="Contractual">Job 1</option>
              <option value="Internship">Job 2</option>
              <option value="Permanent">Job 3</option>
            </select>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend><h5>Select Candidates</h5></legend>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="candidateType">Candidate</label>
            <select id="candidateType" name="candidateType" class="form-control">
              <option value="Contractual">Candidate 1</option>
              <option value="Internship">Candidate 2</option>
              <option value="Permanent">Candidate 3</option>
            </select>
          </div>
        </div>
      </fieldset>
      <div class="row">
        <div class="update ml-auto mr-auto">
          <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
        </div>
      </div>
    </form>
  </div>
</div>
